/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main { 
    max-width: 1200px;
    margin: auto;
    line-height: 1.5;
    justify-content: space-between;
}

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/


body{ /*general*/
    font-size: 18px;
    background-color: #fbfbfb;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: space-around;
}
/* logo de la pagina de eidos*/
.logo{
    width: 65px;
    height: 30px;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-right: 2rem;
}
/*imagenes de redes sociales*/
.redesSociales li a img{
    width: 35px;
    height: 35px;
}
/*barra de navegación displey flex*/
header .menuPrincipal ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
/*barra de navegación*/
header{
    width: 98%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2%;
    border-bottom: 2px #000000 solid;
    position: fixed;
    top: 0;
    left: 0;
}

li{
    padding: 2%;
}
/*foto de la pagina*/
figure img{    
    width: 300px;
    height: 300px;
    border-radius: 50%;
    
}
/*figure{
    display: flex;
    justify-content: center;
}
*/
/* inicio de con el logo de EIDOS*/
section#inicio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    min-height: 100vh; 
    padding-top: 120px;
    text-align: center;
}

/*
#inicio{
   min-height: 100vh;
   text-align: center;
   margin-top: 8rem;
   margin-bottom: 20px;
   padding-top: 120px;
}
*/
/* boton de descargar del cv en PDF*/
#inicio article .botonCv{
    background-color:#af599e;
    margin: auto;
    width: 280px;
    height: 50px;
    border-radius: 10rem;
    color: #f9f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 5%;
}
#inicio .tituloPrincipal{
    font-size: 36px;
    padding: 3%;
}
#inicio article{
    margin-top: 3%;
}
section#inicio{
    justify-content: space-around;
}
/* seccion de contacto*/
#contacto{
    margin-top: 25rem;
}
#contacto article{
    width: 100%;
    text-align: center;
    background-color: rgba(175, 89, 158, 0.3);
    color:  #0f0f0f;
    border-radius: 10px;
    padding: 3%;
}
#contacto article .tituloSecundario{
    font-size: 28px;
    padding: 2%;
    text-align: center;
}
/* iconos de redes sociales*/
.redesSociales{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3%;
}
/*pie de pagina codigo latam*/
.pieDePaginas{
    background-color: #af599e;
    width: 100%;
    padding: 5%;
    color: #fbfbfb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}
/* formulario de contacto utilizado de mi correo jgmail*/
.formularioGeneral{
    width: 110%;
    margin-top: 10rem;
    border: #000000 solid 2px;
}
.formularioGeneral form h2{
    text-align: center;
}
/*le agregamos un efecto al botones*/
.menuPrincipal ul li a{
    display: inline-block;
    padding: 10px;
    transition: box-shadow o.3s ease;

}
.menuPrincipal ul li:hover{
    box-shadow: 0 0 5px 2px rgba(57, 174, 221, 0.5);
    background-color: rgba(57, 174, 221, 0.5);;
}
.menuPrincipal ul li:hover a{
    box-shadow: none;
}
.botonCv{
    display: inline-block;
    padding: 10px;
    transition: box-shadow o.3s ease;
}
.botonCv:hover {
    box-shadow: 0 0 10px 5px rgba(57, 174, 221, 0.5);
    background-color: rgba(57, 174, 221, 0.5);

}
#listaDeProyectos{
    min-height: 100vh;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 20px;
 }
 /* boton de descargar del cv en PDF*/
 #listaDeProyectos article .botonCv{
     background-color:#af599e;
     margin: auto;
     width: 280px;
     height: 50px;
     border-radius: 10rem;
     color: #f9f6f8;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 20px;
     margin-top: 5%;
 }
 #listaDeProyectos .tituloPrincipal{
     font-size: 36px;
     padding: 3%;
 }
 #listaDeProyectos article{
     margin-top: 3%;
 }

 /*menu hamburguesa*/
 .menuPrincipal .menu{ /*el oculta el menu*/ 
    display: none;
  }
 
  .hamburguesa {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
  }
  
  .linea {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin-bottom: 5px;
  }
  

  .menuPrincipal .menu.mostrar {
    display: block; /* Muestra el menú al tener la clase "mostrar" */
  }
  /* Estilos para el menú hamburguesa en dispositivos móviles */
.menuPrincipal .menu {
    display: none; /* Oculta el menú por defecto en dispositivos móviles */
  }
  
  @media screen and (max-width: 720px) {
    /* Mostrar el menú hamburguesa solo en dispositivos móviles con un ancho máximo de 720px */
    .menuPrincipal .menu.mostrar {
      display: block; /* Muestra el menú al tener la clase "mostrar" */
      
    }
   
  }
/*media query desktop*/
@media (min-width: 1024px) {
    h1{
        font-size: 48px;
        text-align: left;
    }
    h2{
        font-size: 32px;
    }
    section#inicio{
        /*padding: 5px;
        display: flex;
        justify-content: center;*/
        flex-direction: row;
        
    }
    figure img{    
        width: 400px;
        height: 400px;
        border-radius: 50%;
    }
    section{
        text-align: left;
    }
    /*
    .foto{
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 3rem;
        margin-left: 5rem;
    }
    */
    .articuloPrincipal{
        width: 50%;
        /*padding-left: 8rem;
        padding-right: 5rem;*/
        text-align: left;

    }
    /*
    .botonCv{
      float:left;
    }
    */
    /*
    header{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
    }
    */
    /*.menuPrincipal ul{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;  
    }*/
    /*
    #contacto .hablemos{
        width: 70%;
        padding: 3%;
    }
    #contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    */
    .hamburguesa{
        display: none;
    }
.menuPrincipal .menu{
    display: inline;
    display: flex; /* Cambia la visualización a flexbox */
    flex-direction: row; /* Muestra los elementos en una sola fila */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
}

#listaDeProyectos{ 
  margin: 5em 1.5em 1.5em 2.7em;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.listaDeProyectos{
    margin-top: 8rem;
    text-align: center;

}
.proyectos{
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: #000 solid 2px;
    text-align: justify;
}

    }